
/* === === Fonts === === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* === === Variables === === */
:root {
    
    /* === === Paleta de colores === === */
    --color-prim: #262525;
    --color-base: #181818;
    /* --color-sec: #5259F4; */
    --color-sec: #1c8080;
    --color-text: #fff;

}

/* === === Base === === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
html {
    scroll-behavior: smooth;
}
body {
    width: calc(100vw - 12px);
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}
a,
a:link,
a:visited {
    color: var(--color-text);
    text-decoration: none;
    margin: 0;
}
li {
    list-style: none;
}

@media (max-width: 900px) {
    body {
        margin: 0;
    }
}