/* === === ScrollBar === === */
:root::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}
:root::-webkit-scrollbar-thumb{
    width: 10px;
    background: var(--color-prim);
    border-radius: 10px;
}

/* === === Global === === */
.inputStyle {
    height: 35px;
    padding: 5px 8px;
    border-radius: 8px;
    background: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    outline: none;
    position: relative;
    transition: 500ms;
}
.txt-hov,
.bg-hov {
    transition: 250ms;
}
.txt-hov:hover {
    color: var(--color-sec);
}
.bg-hov:hover {
    background: var(--color-sec);
    color: var(--color-text);
}
header {
    position: relative;
}
/* === === Barra Superior === === */
.top {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 1rem 5vw;
    width: 100%;
    background: var(--color-base);
    /* border-bottom-style: solid;
    border-color: var(--color-prim); */
    z-index: 1;
}
.top > div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.top_logo {
    width: min-content;
}
.top_circle {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.top_deg {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: animate 500ms linear infinite;
}
.top_deg:nth-child(2),
.top_deg:nth-child(4) {
    animation-delay: -250ms;
    animation-direction: reverse;
    filter: hue-rotate(170deg);
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.top_deg:nth-child(1)::before,
.top_deg:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--color-sec));
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}
.top_deg span {
    position: absolute;
    inset: 5px;
    background: #050505;
    border-radius: 50%;
}

.top_icon {
    position: absolute;
    width: 50px;
}

.top_search {
    position: relative;
}
.top_search input:focus {
    background: var(--color-base);
}
.top_search span {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
}

/* === === Menu === === */
.nav {
    text-transform: capitalize;
}

.nav_list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav_list li {
    display: block;
    padding: 0.7rem;
}

.nav_section {
    cursor: pointer;
}

.nav_submenu {
    background: var(--color-prim);
    display: grid;
    grid-template-columns: repeat(2, 4fr) 1fr;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    left: 0;
    top: 80%;
    padding: 20px 600px;
    z-index: 1;
    transition: 100ms;
    visibility: hidden;
}
.nav_submenu-focus,
.nav_submenu:hover {
    visibility: visible;
}
.nav_submenu li {
    margin: 5px;
    width: fit-content;
}
.nav_submenu a {
    transition: 25ms;
}
.nav_submenu>ul>li:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

/* === === Footer === === */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    background: var(--color-prim);
    padding: 2rem 6rem;
}

.ftr_info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.ftr_info p {
    text-transform: uppercase;
    font-weight: bold;
    /* padding: 0.25rem 0; */
}

.ftr_nl {
    display: flex;
    justify-content: center;
    background: var(--color-base);
    padding: 1.2rem;
    border-radius: 10px;
}

.ftr_icons {
    display: flex;
    position: relative;
    align-items: center;
    gap: 18px;
    height: 100%;
}
.ftr_icons a {
    height: fit-content;
}
.ftr_icons a i{
    background: var(--color-base);
    font-size: 3rem;
    border-radius: 8px;
    padding: 0.5rem;
}

.ftr_sub {
    text-align: center;
    align-items: center;
    background: black;
    color: var(--color-text);
    height: 35px;
    border-radius: 8px;
    border: none;
    padding: 5px 8px;
}
.ftr_sub i{
    vertical-align: middle;
    font-size: 1.1rem;
}
.ftr_sub span {
    padding: 8px;
}

/* === === Mediaquery === === */
@media screen and (max-width: 900px) {
    .top_search .inputStyle {
        display: none;
    }
    
    .top {
        padding: 1rem 1rem;
        grid-template-columns: repeat(2, min-content) 1fr;
        gap: 5px;
    }
    .top_icon_menu {
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }
    .top_search span {
        position: relative;
        display: grid;
        place-content: center;
        top: 0;
        right: 0;
    }

    .nav {
        position: absolute;
        grid-template-columns: 1fr;
        background: var(--color-prim);
        visibility: hidden;
        width: 80vw;
        height: 100vh;
        top: 0;
        left: -100%;
        z-index: 1;
        transition: 1s;
    }
    .nav-open {
        display: grid;
        visibility: visible;
        left: 0;
    }
    .nav_list {
        flex-direction: column;
        justify-content: start;
        padding-top: 10px;
    }
    .nav_list-submenu {
        display: none;
    }

    .nav_submenu {
        grid-template-columns: 1fr;
        gap: 1rem;
        position: initial;
        padding: 0.5rem;
        height: min-content;
    }
    .nav_submenu i {
        font-size: 2rem;
        padding: 5px;
        width: min-content;
    }


    footer {
        padding: 3.5rem 2rem;
        gap: 3rem;
    }

    .ftr_icons {
        top: 1rem;
    }
}